<div class="card">
  <div class="body">
    <div id="mail-nav">
      <button type="button" routerLink="/email/compose" class="btn btn-success waves-effect m-b-15">COMPOSE</button>
      <ul class="" id="mail-folders">
        <li routerLinkActive="active">
          <a routerLink="/email/inbox"  title="Inbox">Inbox
            <span class="badge bg-orange">{{unReadEmails}}</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/email/sent" title="Sent">Sent</a>
        </li>
        <!-- <li>
          <a href="javascript:;" title="Draft">Draft</a>
        </li> -->
        <li routerLinkActive="active">
          <a routerLink="/email/bin" title="Bin">Bin</a>
        </li>
        <!-- <li routerLinkActive="active">
          <a href="javascript:;" title="Important">Important</a>
        </li> -->
        <!-- <li routerLinkActive="active">
          <a href="javascript:;" title="Starred">Starred</a>
        </li> -->
      </ul>
      <!-- <h5 class="b-b p-10 text-strong">Labels</h5> -->
      <!-- <ul class="" id="mail-labels">
        <li>
          <a href="javascript:;">
            <i class="material-icons col-red">local_offer</i>Family</a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="material-icons col-blue">local_offer</i>Work</a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="material-icons col-orange">local_offer</i>Shop</a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="material-icons col-cyan">local_offer</i>Themeforest</a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="material-icons col-blue-grey">local_offer</i>Google</a>
        </li>
      </ul> -->
      <!-- <h5 class="b-b p-10 text-strong">Online</h5>
      <ul class="online-user" id="online-offline">
        <li>
          <a href="javascript:;">
            <i class="material-icons col-green" title="Online">brightness_1</i>Sachin</a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="material-icons col-indigo" title="Off Line">brightness_1</i>John
            Smith
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="material-icons col-orange" title="Away">brightness_1</i>Askay</a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="material-icons col-indigo" title="Off Line">brightness_1</i>Dhavan</a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="material-icons col-indigo" title="Off Line">brightness_1</i>Lee</a>
        </li>
      </ul> -->
    </div>






  </div>
</div>
